@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#navbar {
    /* background-color: blue; */
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 4px 3px 1px rgb(249, 195, 195);
}

#navbar::before {
    content: '';
    background-color: rgb(40, 89, 119);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.7;
}

/* logo and image */
#logo {
    margin: 5px 20px;

}

#logo img {
    width: 75px;
    height: 75px;
    margin: 0px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* list styling */
#navbar ul {
    display: flex;
    font-family: 'Bree Serif', serif;
}


#navbar ul li {

    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a {
    display: block;
    padding: 5px 20px;
    color: rgb(255, 252, 252);
    text-decoration: none;
    font-weight: bold;

}

#navbar ul li a:hover {

    color: rgb(148, 195, 173);

    font-size: 1.4rem;

}

.btn {
    padding: 5px 30px;
    background-color: rgb(16, 147, 255);
    border: 2px solid rgb(16, 147, 255);
    border-radius: 5px;
    color: white;
    margin: 0 50px;
    font-size: 1.5rem;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(255, 248, 239);
    color: rgb(10, 60, 43);
    font-family: 'Bree Serif', serif;
    border: 2px solid rgb(255, 248, 248);
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgb(244, 231, 231);
}

#home::before {
    content: '';
    background: url('Image/background.jpg')no-repeat fixed center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 150%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

#home h2 {
    font-size: 100px;
    color: #fbffab;
    margin-top: 25rem;
}
.home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1 {
    background-color: #163030;
    color: #fbffab;
    padding: 20px 20px;
    font-size: 1.5rem;
    width: 200px;
    border: 2px solid #163030;
    border-radius: 8px;
    margin: 100px auto;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(73, 65, 65);
}

.btn-1:hover {
    background-color: bisque;
    color: grey;
    font-family: 'Bree Serif', serif;
    border: 2px solid bisque;


}

.tavel-box {
    background-color: #f7fffd;
    height: 55vh;
    width: 75vw;
    margin: 20rem auto;
    box-shadow: 10px 10px 5px rgb(204, 204, 204);

}
.travel-box-container{
    height: 55vh;
    width: 75vw;
}

.travel-box-nav {
    font-family: 'Bree Serif', serif;

}

.travel-box-nav ul {
    display: flex;


}

.travel-box-nav ul li {


    list-style: none;
    padding: 30px 5px;
    /* margin-top: 20px; */
    /* margin-right: 40px; */
    text-align: center;
    width: 15%;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(60, 58, 58);
}

.travel-box-nav ul li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.travel-box-nav ul li i {
    color: white;
    font-size: 25px;
    padding: 0 10px;

}

.travel-box-nav ul li:hover {
    background-color: rgb(255, 50, 241);

}

.travel-box-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', serif;
    margin-top: 20px;

}

.destination {
    display: flex;
    flex-direction: column;
}

.h-primary {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    display: flex;
}

.travel-box-info h1 {
    margin: 10px 35px;

}

.travel-box-info select,
input {
    margin: 10px 35px;
    padding: 15px 10px;
    text-align: left;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: #b8b8b8;
    font-size: 15px;


}

.btn-2 {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin-right: 10rem;

}

.btn-2 button {
    padding: 15px 45px;
    font-size: 15px;
    background-color: rgb(16, 147, 255);
    border: 2px solid rgb(16, 147, 255);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', serif;

}

.btn-2 button:hover {
    box-shadow: 10px 10px 5px lightblue;
}

.service {
    display: flex;
    margin: -15rem 0px 0 0;


}

.service-container {
    margin: 0 10rem;
    padding: 0px 20px;
}

.service-box {
    display: flex;
    justify-content: space-between;
}

.service-img {
    margin: 20px 0;
    padding: 0 20px;
    cursor: pointer;
    box-shadow: 10px 10px 5px lightblue;
}

.service-content {
    margin-left: 13px;
    padding: 0 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service-content h2 a {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20px;


}

.service-content p {
    color: rgb(168, 162, 162);
    font-size: 15px;

}

/* gallery  */
#gallery{
    width: 100%;
    height: 100%;
}
.gallery-container::before {
    background: url('Image/backgound-gallery.jpg')no-repeat center fixed;
    background-size: cover;
    opacity: 0.6;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    height: 185%;
    width: 100%;
}

.gallery-box {
    margin-top: 100px;

}

.gallery-header-content h3 {
    padding-top: 10rem;
    text-align: center;
    color: #004f77;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

}

.gallery-header-content p {
    text-align: center;
    margin: 15px 10px;
    color: #969d9f;
    font-size: 20px;
    font-weight: 600;

    font-family: 'Poppins', sans-serif;

}

.gallery-img {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.filter-img {
    

    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition:all 0.5s;
    overflow: hidden;

}

.row1 {

    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;

}

.row1 img {
   
    margin: 10px 30px;
    width: 30%;
    box-shadow: 5px 5px 2px lightblue;
}



.row2 {
    display: flex;
    margin: 20px;
}

.col1 {
    margin-left: 230px;
}

.col1 img {
    width: 125%;
    height: 71%;
    margin: 10px 30px 30px;
    box-shadow: 5px 5px 2px lightblue;

}

.col2 {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}

.row2-1 {
    display: flex;
    margin-left: 97px;
    width: 90%;
}

.row2-1 img {
    margin: 0 30px 30px 30px;
    display: flex;
    width: 30%;
    box-shadow: 5px 5px 2px lightblue;
}

.row2-2 {
    display: flex;
    margin: 30px 0 0 97px;
    width: 195%;
    height: 35%;
}

.row2-2 img {
    margin: 30px;
    display: flex;
    width: 565px;

    box-shadow: 5px 5px 2px lightblue;
}


/* discount offer  */

.discount-offer::before {
    background: url('Image/offer-timer.jpg')no-repeat center fixed;
    background-size: cover;
    opacity: 0.6;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.discount-offer-content {
    text-align: center;

    padding: 10px 10px;
}

.discount-offer-content h2 {
    margin-top: 8rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: rgb(2, 6, 59);
}


.launch-container {
    background: rgba(211, 227, 252, 0.65);
    max-width: 555px;
    margin: 43px auto;
    padding: 24px 0 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(185, 44, 44, 0.2)
}

.launch-time {
    display: flex;

    justify-content: center;
    align-items: center;
}

.launch-time div {

    flex-basis: 100px;
    justify-content: center;
    align-items: center;
    display: block;
    color: rgb(5 19 67);
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;

}

.launch-time div p {
    font-size: 34px;
    font-weight: 600;
}

.launch-time div span {
    font-size: 20px;
    font-weight: 500;
}

.btn-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}

.btn-3 button {
    padding: 15px 45px;
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(249 38 221 / 93%);
    border: 2px solid rgb(249 38 221 / 93%);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', serif;

}

.btn-3 button:hover {
    box-shadow: 10px 10px 5px lightblue;
}

/* package offer */
#packages::before {
        background: url('Image/background-package.jpg')no-repeat center fixed;
        background-size: cover;
        opacity: 0.6;
        content: '';
        position: absolute;
        left: 0;
        z-index: -1;
        height: 195%;
        width: 100%;
   
}
.packages-box{
   
    height: 100%;
    width: 100%;
}
.packages-header-content{
    margin-top: 214px;
}
.packages-header-content h1{
    padding-top: 10rem;
    text-align: center;

    color: #dedede;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.packages-header-content p {
    text-align: center;
    margin: 15px 10px;
    color: #aeaeae;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.packages-box-offer{
    margin-top: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.packages-box-img{
    background-color:#f9f9f9;
    border:2px solid #ebeded ;
    border-radius: 10px;
    margin: 15px;
}
.packages-box-img img{
   margin: 15px;
   padding: 10px;
   width: 350px;
   height: 300px;
   border-radius: 10px;
   box-shadow: 10px 10px 5px rgb(168, 142, 166);
}
.package-item-text{
  
    margin: 0px 35px 10px 35px;
}
.package-item-text h3{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #767575;
    font-size: 24px;
   
}
.packages-para{
    margin: 10px 10px;
    color: #8c8d8e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    
}
.packages-para p{
 display: flex;
  padding: 0 5px;
  
}
.packages-para span{
    margin: 5px 12px;
    
}
.packages-review{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.packages-review p{
    margin-left:20px ;
}
.packages-review p i{
    color: gold;
}
.packages-review p span{
    margin: 0 12px;
    color: #8c8d8e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.about-btn button{
    display: flex;
    padding: 4px 10px;
    background-color: rgb(16, 147, 255);
    border: 2px solid rgb(16, 147, 255);
    border-radius: 5px;
    color: white;
    margin: 5px 0px 10px 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    text-align: center;
    align-items: center;
    justify-content: center;
   

}

.about-btn button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    
   
}

/* client review */
#client-review{
    background-color: #998d99;
   
   
}.container {
    margin: 0 10rem;
    padding: 0px 20px;
}
.client-box{
    width: 100%;
    height: 200%;
}
.client-header-content{
    margin: 15px 15px;
}
.client-header-content h1{
    padding-top: 8rem;
    text-align: center;

    color: #1b3b4b;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.client-header-content p {
    text-align: center;
    margin: 15px 10px;
    color: #f1fbfd;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.client-review-box{
  
   
    height: 570px;
}
.client-image-box{
   
    background-color: #ddffec;
    border:2px solid #ebeded ;
    border-radius: 10px;
    margin: 30px;
    height: 430px;
    box-shadow: 5px 5px 5px 5px rgb(241, 199, 199);
}
.client-image-box:hover{
    box-shadow: 5px 5px 5px 5px rgb(240, 156, 156);
}
.client-image-box img{
   margin:15px 80px;
   padding: 10px;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   box-shadow: 10px 10px 5px rgb(168, 142, 166);
}
.client-review-txt{
    margin: 10px 10px;
}
.reviwe-para{
    margin: 10px 5px ;
    font-size: 17px;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reviwe-para i{
    display: flex;
    align-items: center;
   justify-content: center;
    font-size: 20px;
    margin: 5px auto;
}
.name{
    text-align: right;
    color:#354b2d;
    font-size: 20px;
margin: 2px 0;
    font-family: 'Bree Serif', serif;
}
.place{
    font-size: 20px;
    text-align: right;
    color:#1b3b4b;
    margin: 2px 0;
}

/* special-offer */

.special-offer-container::before {
    background: url('Image/mumbai.jpg')no-repeat center fixed;
    background-size: cover;
    opacity: 0.9;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    height: 150%;
    width: 100%;
    
}
.special-offer-box{
    display: flex;
    justify-content: space-between;
}
.special-offer-box-heading{
    padding-top: 7rem;
    text-align: center;

    color: #070043;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.special-offer-discount{
    display: flex;
    margin: 2rem 0 0 10rem;

}
.offer-shape img{
    width: 80%; 
    height:550px;

}
.offer-shape-content-container{
    margin:15px -211px;
}
.offer-banner img{
    width: 70%;
}
.special-offer-discount-txt{
   text-align: center;
   
   margin: 40px 80px 0 0px;
}
.special-offer-discount-txt h4 span{
font-size: 60px;
color: #a95b5b;

}
.special-offer-discount-txt h4{
    font-size: 30px;
    margin:0 0 20px 15px;
    padding: 10px;
    color: #4d6583;
}

.special-offer-discount-txt p span{
    font-size: 60px
   
}
.special-offer-discount-txt p{
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
    color: #645f5f;
}
.special-offer-content{
    margin:0 5rem 0 0;
}
.special-offer-content h2{
    font-size: 80px;
    font-weight: 60px;
    font-family: inherit;
    margin: 10px;
    color: #ff1b82;
}
.special-offer-review{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.special-offer-review p i{
    color: gold;
}
.special-offer-review p span{
    margin: 0 12px;
    color: #ffffff;
    font-family: inherit;
    font-size: 23px;
}
.special-offer-para{
    margin: 10px 10px;
    color: #ffffff;
    font-family: inherit;
    font-size: 23px;
    
}
.special-offer-para p{
 display: flex;
  padding: 0 5px;
  
}
.special-offer-para span{
    margin: 5px 12px 5px 0;
    
}
.special-offer-para-content{
    border: 3px solid white;
    border-radius: 10px;
    background-color:lightblue;
    margin: 10px 10px;
    padding: 10px 10px;
    color:#3f0337;
    font-family: inherit;
    font-size: 23px;
    box-shadow: 8px 5px 8px 2px rgb(219, 117, 207);
}
.special-offer-para-content h1{
    text-align: center;
    margin: 5px;
}
.special-offer-btn{
    display: flex;
    margin: 10px 20px;
}
.offer-btn1{
margin: 10px 20px;


}
.offer-btn1 button{
    font-size: 24px;
    background-color: #7f8600;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.offer-btn1 button:hover {
    background-color: rgb(255, 200, 83);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px 1px rgb(252, 189, 55);
   
}
.offer-btn2{
    margin: 10px 20px;
   
}
.offer-btn2 button{
    font-size: 24px;
    background-color: #00a2ff;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.offer-btn2 button:hover {
    background-color: rgb(172, 225, 227);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px 1px rgb(139, 251, 255);
   
}

/* blog section  */
#blog{
    background-color: #6c7c85;
    width: 100vw;
    height: 100vh;
    

    
}
.blog-container{
    margin: 50px 50px;
}
.blog-container-item{
    display: flex;
    flex-direction: column;
    
}
.blog-container-txt{
    text-align: center;
    padding-top: 6rem;
}
.blog-container-txt h1{
    color: #070043;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.blog-container-txt p{
    margin: 15px 10px;
    color: #aeaeae;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.blog-container-txt-image{
    display: flex;
    flex-direction: row;
    margin: 10px 50px;
}
.blog-container-txt-image-part{
    display: flex;
   
    flex-direction: column;
    margin: 20px 20px;
    padding: 0 20px;
    background-color: rgb(237, 237, 237);
    border: 5px solid white;
    border-radius: 3px;
    box-shadow: 7px 4px 6px 3px rgb(212, 223, 224);
    height: 65vh;
  
}
.blog-container-txt-image-part:hover{
    box-shadow: 7px 4px 6px 3px rgb(170, 193, 195);
}
.blog-container-txt-image-head{
    display: flex;
    justify-content: space-between;
    
}
.blog-container-txt-image-head h4{
   margin-left: 10px;
   color: rgb(50, 10, 17);
   font-size: 25px;
}
.blog-container-txt-image-head p{
    padding: 3px 0;
  margin-right: 10px;
  color: grey;
  font-size: 20px;
}
.blog-container-txt-image-pic img{

    display: block;
    align-items: center;
    justify-content: center;
    width: 350px;
    height:250px;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 7px 4px 6px 3px rgb(55, 63, 63);
}


.blog-container-txt-image-foot{
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.blog-container-txt-image-foot h4{
color: #427390;
font-size: 18px;
padding: 5px;

}
.blog-container-txt-image-foot p{
    color: rgb(132, 100, 100);
    font-size: 14px;
    padding: 5px;
}
.blog-btn button{
    display: flex;
    padding: 4px 10px;
    background-color: rgb(234, 232, 232);
    border: 2px solid rgb(234, 232, 232);
    border-radius: 5px;
    color: rgb(8, 88, 192);
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    text-align: center;
    align-items: center;
    justify-content: center;
   

}

/* subscibe */
.subscribe::before {
    background: url('Image/subscription.jpg')no-repeat center fixed;
    background-size: cover;
    opacity: 0.3;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    height: 150%;
    width: 100%;
    
}
.subscribe-container-content{
    display: flex;
    flex-direction: column;
}
.subscribe-title{
    padding-top: 8rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.subscribe-title h2{
    color: #070043;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;

}
.subscribe-title p{
    margin: 15px 10px;
    color: #7c7676;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.subscribe-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}
.subscribe-box-content{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 600px;
    height: 80px;
    background-color: white;
    border: 2px solid rgb(50, 49, 49);
    border-radius: 50px;
}
.subscribe-box-content-left{
    display: flex;
    justify-content: center;
   align-items: center;
}
.subscribe-box-content img{
    width: 30px;
    height: 30px;
    margin: 15px;
}
.subscribe-box-content input{
border: none;
outline: none;
color: #aeaeae;
font-family: 'Poppins', sans-serif;
margin: 0 10px;
padding: 0 10px;
}
.subscribe-box-content-left input, input::placeholder{
font-size: 1.2rem;


}
.subscribe-btn button{
    font-size: 1.5rem;
    background-color: rgb(16, 147, 255);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 240px;
    padding: 20px 20px;
text-align: center;
    border: 2px solid rgb(16, 147, 255);
    border-radius: 50px;
    color: white;
    margin-right:  5px;
   
}
.bottom{
    background-color: rgb(201, 162, 162);
}
.bottom-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
 
}

.bottom-container-box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin: 30px;
    padding: 50px;
}
.box1-item{
    margin: 15px;
}
.bottom-log0 img{
    height: 150px;
    width: 150px;
}
.box1-content{
  
    display: flex;
    justify-content: space-between;
}
.bottom-container-box1 h3{
    font-family:  'Helvetica Neue', sans-serif;
    font-size: 30px; 
    padding: 5px 20px;
}
.link{
    margin: 5px;
    padding: 10px;
}
.link ul {
    font-family: 'Bree Serif', serif;
}


.link ul li {

    list-style: none;
    font-size: 1rem;
}
.link ul li a {
    display: block;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: transform 0.5s;

}
.link ul li a:hover {

    color: rgb(235, 255, 245);
    transform: scale(1.1);
}
.bottom-contact-content{
    margin: 5px;
    padding: 10px
}
.bottom-contact-us p{
    font-family:  'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px;
    padding: 5px 20px;
}
.bottom-contact-us p img{
    width: 30px;
    height: 30px;
    margin: 0 5px -10px 5px;
}
.bottom-container-box2{
    background-color: rgb(88, 86, 86);
    max-width:100%;
    max-height:800px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.social-icon {
    margin-top: 30px;
    padding: 40px;
   
}
.social-icon a{
    text-decoration: none;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    transform: scale(1.1);
}

.social-icon a img{
    
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    padding: 0 15px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: rgb(51, 50, 50);
    color: antiquewhite;
    font-family:  'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 200px;
}
